body {
  font-family: 'Montserrat', sans-serif;
  display:block;
  font-size: 5.5em;
  font-weight: 700;
  background-color: #555555;
}

input[type="file"] {
  display: none;
}

#dropzone {
	background-color: #f7f7f7;
  position: absolute;
  height: 30%; 
  width: 88%; 
  top: 35%; 
  left: 6%; 
	display: table;
	text-align: center;
  border: 0.1em solid #555555;
  border-radius: 0.5em;
  outline: 0.1em solid white;
  cursor: pointer;
}

#dropzone span {
  background-color: #555555;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: table-cell;
  vertical-align: middle;
}

@media screen and (orientation: landscape) {
  #dropzone span {
  background-position: center 10%;
  }
}

@media screen and (orientation: portrait) {
  #dropzone span {
  background-position: center 25%;
  }
}
